<!doctype html>
<html>

<head>
  <title>Dummy Payment Gateway</title>
  <style>
    body {
      background-color: #fff;
      font-family: 'Roboto', sans-serif;
    }

    h1 {
      color: #A44;
    }

    h2 {
      color: #522;
    }

    p {
      color: black;
    }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  <h1>Connect to Consumer</h1>

  <form action="" method="post">
    <p>
      <label for="location">Location</label>
      <input type="text" name="location" size="80" value="{{ location }}">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <p>URL: <br /><code>{{ location }}</code></p>
  <p>
    results:<br />
    <code>{{ results }}</code>
  </p>
  <p>Connect to API Consumer</p>

</body>

</html>