<!doctype html>
<html>

<head>
  <title>Payment Gateway</title>
  <style>
    body {background-color: #EEE; font-family: 'Roboto', sans-serif; padding: 0 0; margin: 0 0;}
    h1   {color: rgb(228, 172, 172); background-color: #333; padding: 10px 10px; margin: 0 0;}
    p    {color: black;}
    .content {margin: 0 10px;}
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <h1>Payment Gateway Demo</h1>
  <div class="content">
    <h2>Home</h2>
    <p>
      List of available demo test APIs:
      <ul>
        <li><a href="/api/hello">/api/hello</a> - displays hello message</li>
        <li><a href="/api/ping">/api/ping</a> - displays ping message</li>
      </ul>
      List of page:
      <ul>
        <li><a href="/connect">/connect</a> - connects to consumer app</li>
      </ul>
    </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
      its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
      to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and
      web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
      web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
      purpose (injected humour and the like).</p>
  </div>
</body>

</html>